<h3 class="ui header">{{t "forms.data-line-my-project1-договор-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.number
      class=(if (v-get validationObject "number" "isInvalid") "error")
      label=(t "forms.data-line-my-project1-договор-e.number-caption")
      data-test-data-line-my-project1-договор-e-------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "number" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-my-project1-договор-e.date-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.date
      class=(if (v-get validationObject "date" "isInvalid") "error")
      data-test-data-line-my-project1-договор-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "date" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-my-project1-договор-e.validityPeriod-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.validityPeriod
      class=(if (v-get validationObject "validityPeriod" "isInvalid") "error")
      data-test-data-line-my-project1-договор-e---------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "validityPeriod" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-my-project1-договор-e.buyer-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.buyer
      displayAttributeName="name"
      autocomplete=true
      relationName="buyer"
      projection="ОрганизацияL"
      title=(t "forms.data-line-my-project1-договор-e.buyer-caption")
      readonly=readonly
      componentName="buyerLookup"
      data-test-data-line-my-project1-договор-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "buyer" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-my-project1-договор-e.seller-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.seller
      displayAttributeName="name"
      autocomplete=true
      relationName="seller"
      projection="ОрганизацияL"
      title=(t "forms.data-line-my-project1-договор-e.seller-caption")
      readonly=readonly
      componentName="sellerLookup"
      data-test-data-line-my-project1-договор-e-------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "seller" "messages")}}
  </div>

</form>