<h3 class="ui header">{{t "forms.data-line-my-project1-программа-т-о-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.data-line-my-project1-программа-т-о-e.name-caption")
      data-test-data-line-my-project1-программа-т-о-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-my-project1-программа-т-о-e.periodicity-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.periodicity
      displayAttributeName="name"
      autocomplete=true
      relationName="periodicity"
      projection="PeriodicityL"
      title=(t "forms.data-line-my-project1-программа-т-о-e.periodicity-caption")
      readonly=readonly
      componentName="periodicityLookup"
      data-test-data-line-my-project1-программа-т-о-e------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "periodicity" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.data-line-my-project1-программа-т-о-e.purposeOfTheMaintenanceModel-caption"}}</label>
    {{flexberry-groupedit
      componentName="purposeOfTheMaintenanceModelGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.purposeOfTheMaintenanceModel
      content=model.purposeOfTheMaintenanceModel
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "purposeOfTheMaintenanceModel" "isInvalid") "error")
      data-test-data-line-my-project1-программа-т-о-e-----------------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "purposeOfTheMaintenanceModel" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.data-line-my-project1-программа-т-о-e.maintenanceOperation-caption"}}</label>
    {{flexberry-groupedit
      componentName="maintenanceOperationGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.maintenanceOperation
      content=model.maintenanceOperation
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "maintenanceOperation" "isInvalid") "error")
      data-test-data-line-my-project1-программа-т-о-e---------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "maintenanceOperation" "messages")}}
  </div>
</form>